<div class="container">
  <form *ngIf="!clickedForm" method="post">
      <fieldset>
          <div class="row justify-content-center">
              <div *ngIf="datosVaciosBol" class="text-center">
                <span class="badge bg-danger">{{ datosVacios }}</span>
              </div>
              <div class="form-group col-6">
                  <label for="name" class="form-label mt-4">name Product</label>
                  <input [(ngModel)]="name" name="name" type="text" id="name" class="form-control" placeholder="Enter Name Product" />
              </div>
              <div class="form-group col-6">
                  <label for="price" class="form-label mt-4">Price Product</label>
                  <input [(ngModel)]="price" name="price" type="number" id="price" class="form-control" placeholder="Enter Price Product" />
              </div>

              <div class="form-group text-center col-6">
                  <label for="quantity" class="form-label mt-4">quantity</label>
                  <input [(ngModel)]="quantity" name="quantity" type="number" id="quantity" class="form-control" placeholder="Enter quantity" />
              </div>
              <button type="submit" (click)="submit() " class="btn btn-primary">save</button>
          </div>
      </fieldset>
  </form>
    <div *ngIf="clickedForm" class="row justify-content-center">
      <legend class="text-center">VALIDACION DE FORMULARIO</legend>
      <div class="spinner-grow text-primary"></div>
  </div>
</div>
