<div class="container mt-5">
  <div class="row">
  <div class="">
    <a routerLink="create"class="btn btn-primary">add product</a>
    <table class="mt-2 table table-dark table-bordered table-striped">
      <caption>List of products</caption>
      <thead>
        <th>#</th>
        <th>name</th>
        <th>price</th>
        <th>quantity</th>
        <th class="col-2">actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; index as i;">
          <td>{{product.identificador}}</td>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td><a  class="btn btn-success ml-2" routerLink="/productos/edit/{{product.identificador}}" [routerLinkActive]="['active']" >edit</a>
            <form method="POST" (click)="deleteProduct(product.identificador)">
                <button type="submit" class="btn btn-danger ml-2" >delete</button>
          </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
